@model Demo.Aspnet.Mvc.SportStore.WebUI.ViewModels.CartIndexViewModel

@{
    ViewBag.Title = "Sports Store: Your Cart";
}

<h2>Your cart</h2>
<table width="90%" align="center">
    <thead>
        <tr>
            <th align="center">Quantity</th>
            <th align="left">Item</th>
            <th align="right">Price</th>
            <th align="right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cartLine in Model.Cart.Lines)
        {
            <tr>
                <td align="center">@cartLine.Quantity</td>
                <td align="left">@cartLine.Product.Name</td>
                <td align="right">@cartLine.Product.Price.ToString("c")</td>
                <td align="right">@cartLine.SubTotal.ToString("c")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" align="right">Total:</td>
            <td align="right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>    
    </tfoot>
</table>
<p align="center" class="actionButtons">
    <a href="@Model.ReturnUrl">Continue shopping</a>
</p>
